body {
  font: 12pt arial;
}
fieldset {
  border: none;
  padding: 0 0 10px 20px;
}
fieldset .field {
  display: inline-block;
  padding-right: 8px;
  vertical-align: top;
}
legend {
  margin-left: -20px;
}
label, input, span.description {
  display: block;
}
label {
  line-height: 1.5em;
}
input {
  font-size: 1em;
  padding: 2px;
}
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: .6em;
}
button:hover {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,.2) inset;
}
h3.svg-doc-name {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
input#gmap_url {
  width: 100%;
}
span.description {
  font-size: 80%;
  margin-bottom: 1em;
}
.check-field > * {
  display: inline;
  vertical-align: middle;
}
.folder button.settings {
  display: inline-block;
  font-size: 11pt;
  margin-left: .5em;
  padding: .3em .6em;
}
.folder-settings-page button.back {
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  padding-bottom: 1em;
  padding-left: .2em;
}
.folder-settings-page h2.folder-title {
  display: inline-block;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .3em;
  vertical-align: middle;
}
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}
.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}
.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.svg-doc {
  padding: 10px;
}
.svg-doc svg {
  border: 2px dotted #AAA;
}
