html,
body,
.main-container,
.main-container .row.main {
  height:100%;
}

.btn.btn-round {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}
.btn.btn-round.btn-sm {
  height: 31px;
  width: 31px;
}

.main-container .sidebar {
  flex: 0 0 360px;
  background-color: #f8f9fa;
  border-left: 1px solid #AAA;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
}

span.field-description {
  font-size: 80%;
  opacity: .8;
}

.modal.open-map input#map-url {
  display: block;
  width: 100%
}
.modal.open-map h4 {
  padding-top: 1em;
}
.modal.open-map .recent-maps {
  list-style: none;
  padding: 0;
}
.modal.open-map .recent-maps li {
  font-size: 110%;
  padding: .1em 0;
}

.svg-wrapper {
  background-color: #CCC;
  height: 100%;
  overflow: auto;
  padding: 15px;
}
.svg-wrapper .control-container {
  position: fixed;
}
.svg-wrapper .control-container.top-left {
  top: 25px;
  left: 25px;
}
.svg-wrapper .control-container.bottom-right {
  bottom: 25px;
  right: 385px;
}

.svg-wrapper .loading-spinner {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.svg-wrapper .loading-spinner > div {
  margin-top: 80px;
}
.svg-wrapper canvas {
  display: block;
  margin: auto;
}
.svg-wrapper canvas.loaded {
  background-color: #FFF;
  box-shadow: 0 0 10px 0px rgba(0,0,0,.1);
}

.sidebar .field-section {
  overflow: hidden;
}
.sidebar .display-options {
  bottom: 15px;
  left: 15px;
  overflow-y: auto;
  padding-right: 15px;
  position: absolute;
  right: 0;
  top: 15px;
}
.sidebar .display-options .col {
  padding: 0;
}
.sidebar .field-section.with-checkbox h4,
.sidebar .field-section.with-checkbox h5,
.sidebar .field-section.with-checkbox h6 {
  float: left;
  padding-right: 30px;
}
.sidebar .field-section.with-checkbox h4 {
  line-height: 1em;
}
.sidebar .field-section.with-checkbox h6 {
  margin: 0.1em 0 .3em;
  line-height: 1.4em;
}
.sidebar .field-section.with-checkbox .custom-checkbox {
  float: right;
  padding: .3em 0
}
.sidebar .field-section.with-checkbox.small-title .custom-checkbox {
  padding: 0;
}
.sidebar .display-options label,
.sidebar .display-options input,
.sidebar .display-options select {
  font-size: 11pt;
}
.sidebar .display-options input {
  padding: 0 .2em;
  width: 100%;
}
.sidebar .display-options input[data-type="float"] {
  text-align: end;
}
.sidebar .display-options select {
  width: 100%;
}
.sidebar .display-options .color-button {
  border: 1px solid #A9A9A9;
  border-radius: 2px;
  cursor: pointer;
  height: 21px;
  margin: 2px;
  padding: 2px;
}
.sidebar .display-options .color-button:hover {
  border-color: #666;
}
.sidebar .display-options .color-button .color-block {
  height: 100%;
  width: 100%;
}
.sidebar .map-settings fieldset {
  padding-bottom: .5em;
}
.sidebar .folder-list fieldset.folder {
  padding-bottom: .2em;
}
.sidebar .settings-page .title-row {
  border-bottom: 1px solid #CCC;
  margin-bottom: .5em;
  padding-bottom: .4em;
}
.sidebar .settings-page .title-row h4 {
  line-height: 1.3em;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
